<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>235399015867-nja66t5c5im5tclfr802pvgpa2jktp5e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235399015867-nja66t5c5im5tclfr802pvgpa2jktp5e</string>
	<key>API_KEY</key>
	<string>AIzaSyBOsq62uWNaq372mObpr4eMPggtNXACGeo</string>
	<key>GCM_SENDER_ID</key>
	<string>235399015867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TBC.RNAPP</string>
	<key>PROJECT_ID</key>
	<string>rn-tbc</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-tbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:235399015867:ios:680c24c6db961d6c0a689e</string>
	<key>DATABASE_URL</key>
	<string>https://rn-tbc.firebaseio.com</string>
</dict>
</plist>
